/*Custom Id's*/

#contato{
    margin-bottom: 3rem;
}
#form-contact{

}
#address {
    margin-top: 1rem;
    margin-bottom: 6rem;
}


/*Custom Classes*/

.social-a{
    color: white;
}
.form{
    display:block;
}


/*Custom Elements*/
header{
    height: 4em;
    border-bottom: 1px solid rgb(17, 86, 214);
}
.social {
    margin-top: 5px;
}
header p{
    text-align: center;
}
a {
    color: rgba(0, 0, 255, 0.966);
}
section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
input, textarea{
    margin-bottom: 1rem;
}
footer{
    border-top: 1px solid blue;
}
footer p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
footer .btn-group{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 45%;
}
.container{
    margin-top: 1rem;
}
.card{
    float: left;
    margin: 3px;
}
.nav-item {
    margin: 5px;
}
